.App {
  margin: 0;
  padding: 0;
  height: 1000px;
}

.App-link {
  color: #61dafb;
}

.Jumbotron{
  height: 30%;
  margin: 0;
  background-image: url('background.jpg');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Jumbotron input{
  border-radius: 10%;
  width: 80px;
  height: 40px;
  cursor: pointer;
  font-weight: bolder;
}

.Jumbotron input:hover{
  background-color: blue;
}